modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "start"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
stack = "MOCKUP_JS"
mockupState = "FULLSTACK"
integrations = ["stripe:2.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 120000

[userenv]

[userenv.shared]
STRIPE_PUBLISHABLE_KEY = "pk_test_51TBYP1DEurErtLgikXmL6NxRybjzeiM61OxZgIKCnKon96tUBtNRPyjel9PPvoTUEtgr9D7USe1qWeFfh3kXMeXH005bDV2bwM"
STRIPE_SECRET_KEY = "sk_test_51TBYP1DEurErtLgiFiAJcmCNRbcCwOqbeKfzPpmFDilekTMTtldUrmco6p1URFurv5wjcKfL0as4Cr2uHkaTHnVW00aCzGRmMX"
RESEND_FROM_EMAIL = "11+ Standard <noreply@bucks11plustest.co.uk>"

[userenv.production]
BASE_URL = "https://11plus-standard.replit.app"
